#kt_app_sidebar_menu_wrapper {
	direction: rtl;
}
#kt_app_header_wrapper {
	direction: rtl;
}
#kt_app_content_container {
	direction: rtl;
}
:root {
	--kt-font-family: "notosans";
}

.modal-content {
	direction: rtl !important;
}

.btn.btn-icon .svg-icon,
.btn.btn-icon i {
	transform: rotate(180deg);
}
.dropdown-menu-right {
	right: auto !important;
	left: 0 !important;
	/* direction: ltr; */
}
.dropdown-menu-left {
	right: auto !important;
	left: 0 !important;
	direction: ltr;
}
.form-horizontal .form-group {
	direction: rtl;
	display: flex;
	flex-direction: row;
}
.rotate-0 {
	transform: rotate(0deg) !important;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	flex-direction: column-reverse;
	list-style: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	margin-left: 0px !important;
	margin-right: -22px;
}

span.toggle-links.btn.btn-info {
	left: 14px !important;
	right: unset !important;
}
#config_taxes_info {
	padding: 30px;
}

.pos_footer .svg-icon {
	transform: rotate(180deg);
}

.register .register-summary .add-payment {
	margin-left: 0;
	margin-right: auto;
}
.pull-right {
	float: left !important;
}
.pull-left {
	float: right !important;
}

.text-right {
	float: left !important;
}
.text-left {
	float: right !important;
}
.dl-horizontal dd {
	width: 50%;
    margin-left: 0px;
    float: left;
}
.dl-horizontal dt {
	width: 50%;
    float: right;
    text-align: right !important;
}
.item_repair_item {
	clear: both;
}
.item_name_and_warranty {
	clear: both;
}
.d-flex-rtl {
	display: flex;
}
.ion,
.ion-calendar {
	color: var(--bs-light);
}

.floating-button {
	left: 40px;
	right: unset;
}

div#change_cart_date_picker {
	flex-direction: row-reverse;
}
.dropdown-menu.sales-dropdown li a {
	text-align: right;
}

.register .register-summary .sub-total.receivings {
	display: flex;
}

table#price_quantity_units th {
	text-align: right;
}
select#available_attributes {
	width: 6px !important;
	margin-right: 14px;
}
.flex-direction-row-reverse {
	flex-direction: row-reverse;
}
.bootstrap-filestyle.input-group {
	flex-direction: row-reverse;
}

.input-group-addon,
.input-group-btn {
	width: auto;
}
#sub_total.xeditable-subtotal{
	font-size: 16px;
}

#category_item_selection_wrapper_new {
    margin-right: 5px;
}
div {
	letter-spacing: normal;
}
.piluku-dropdown .dropdown-menu li a {
	text-align: right;
}

.actions .dropdown-menu
{
	margin: 2px -50px 0;
}
.piluku-dropdown .dropdown-menu {

    min-width: 155px;
}

.piluku-dropdown .dropdown-menu.ui-sortable {
    min-width: 250px;
}